
@{
    ViewData["Title"] = "Home Page";
}


<div>

    <h2>Order Your Pizza Right Now</h2>
    <p>We deliver your pizza ASAP!</p>
    <div class="banner-btn-wrap">
        <a class="cmn-btn" asp-action="Menu">Order Now</a>
        <a class="banner-btn-two" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>


</div>