<div class="contact-location-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="location-item">

                    <i class='bx bxs-time-five'></i>
                    <ul>
                        <li>Open Time: 09:00 - 23:00</li>
                        <li>Everyday</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="location-item active">

                    <i class='bx bxs-location-plus'></i>
                    <ul>
                        <li>Theatinerstraße 8, 80333 München</li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="location-item">

                    <i class='bx bxs-phone-call'></i>
                    <ul>
                        <li>
                            <a href="tel:089462585541">Phone: 089 462585541</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
